body {
  background-color: darkslateblue;
  margin: 0px;
}
#home {
  background-image: url("http://www.qygjxz.com/data/out/35/5325929-book-image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 20px;
  height: 500px;
  text-color: white;
  top: 40px;
}
#begin {
  font-family: helvetica, serif;
  color: white;
}
#begin a {
  color: darkgreen;
#news {
  background-color: darkred;
  padding: 20px;
  width: 100%;
}
#navbar {
  width: 100%;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
  position: fixed;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#navbar ul li a:hover {
  background-color: #111;
}
#navbar .active {
  background-color: #4CAF50;
}
