body {
  background-color: DarkSlateBlue;
}

h1 {
  font-family: Georgia, serif;
  font-size: 2em;
  color: white;
  text-align: center;
}

p {
  font-family: Times New Roman, serif;
  color: white;
}

img {
  border: 3px inset DarkGrey;
}

iframe {
  border: 3px inset DarkGrey;
}

h3 {
  font-size: 200.5em;
  color: white;
}
